@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

body {
  margin: 0;
  font-family: 'Glory', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Glory', sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a8eb12;
  min-height: 100vh;
}



/* --------  SEARCH BAR STYLING  -------- */

form {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.search-bar {
  border-radius: 6px;
  overflow: hidden;
  background: white;
  min-width: 45vw;
  margin: 0;


}

input, input:focus {
  border: none;
  height: 7vh;
  font-size: 1.5rem;
  background-color: #fff;
}

input:focus::-ms-value {
  background-color: white; color:#000;
}

.text-field:focus {
  outline: none;
  background: white;
  
}

.text-field {
  max-height: 3rem;
  margin-top: 0.35rem;
  margin-left: 1rem;
  min-width: 35vw;
}

.submit {
  min-height: 100%;
  padding: 5px;
  color: #fff;
  background: #004D7A;
  float: right;
  width: 100px;
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.submit:hover {
  background: #051937;
}

.form-container {
  width: 70%;
  max-width: 300px;
}

/* --------  SONG LIST STYLING  -------- */

.song-container {
display: flex;
justify-content: flex-start;
align-items: center;
width: 50vw;
margin: 1rem;
padding: 2rem;
background-color: #051937;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}

.song-image {
  border: #004D7A 2px solid;
  height:11rem;
  width: 11rem;
  margin-right: 2rem;
}

.song-section {
  min-width: 34vw;
  padding: 1rem;
  background-color: #004D7A;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.song-section, .song-section a {

  color: #a8eb12;
  text-decoration: none;
  font-size: 1.2rem;
}


.song-div {
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  background-color: #051937;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.song-div:hover {
  position: relative;
  color: #fff;
}

.song-features {
  
}