@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

body {
  margin: 0;
  font-family: 'Glory', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Glory', sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a8eb12;
  height: 100vh;
}

/* --------  SEARCH BAR STYLING  -------- */

.search-bar {
  border-radius: 6px;
  overflow: hidden;
  background: white;
  width: 45vw;
  margin: 0;
}

input {
  border: none;
  height: 7vh;
  font-size: 1.5rem;
}

.text-field:focus {
  outline: none;
  background: white;
}

.text-field {
  margin-top: 0.35rem;
  margin-left: 1rem;
  width: 35vw;
}

.submit {
  min-height: 100%;
  padding: 5px;
  background: rgb(214, 214, 214);
  float: right;
  width: 100px;
  height: 4rem;
}

.submit:hover {
  background: rgb(198, 197, 212);
}

.form-container {
  width: 70%;
  max-width: 300px;
}

/* --------  SONG LIST STYLING  -------- */

.song-container {

}