body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100vh;
}

.search-bar {
  border-radius: 4px;
  overflow: hidden;
  background: white;
}

input {
  border: none;
}

.text-field:focus {
  outline: none;
}

.text-field {
  margin-top: 4px;
  margin-left: 5px;
  width: 200px;
}

.submit {
  min-height: 100%;
  padding: 5px;
  background: rgb(61, 86, 228);
  float: right;
  width: 80px;
}

.submit:hover {
  background: rgb(137, 130, 235);
}

.form-container {
  width: 70%;
  max-width: 300px;
}